.content {

    .para {
        width: 85%;
        font-size: 18px;
        font-weight: 600;
        margin: 0 auto;
        text-align: center;
    }

    .in {
        text-align: center;

        p {
            font-size: 25px;
            font-weight: bold;
        }

        .inputs {
            display: flex;

            .inpt {
                width: 50px;
                border: 1px solid var(--ion-color-dark);
                border-radius: 10px;
                height: 70px;
                margin: 10px;
                text-align: center;
                font-size: 30px;
            }
        }

    }

    .slide-btn {
        width: 60px;
    }
}