<ion-header>
  <ion-toolbar>
    <ion-title>
      Forgot Password
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="general.closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">

  <div class="content" *ngIf="!showForm">
    <p class="para">
      We have sent you a code via Email
    </p>

    <div class="in">
      <div class="inputs">
        <ion-input class="inpt" maxlength="1" min="1" inputmode="numeric" required (ionChange)="change($event, 1)"
          #inputOne [autofocus]="true"></ion-input>
        <ion-input class="inpt" maxlength="1" min="1" inputmode="numeric" required (ionChange)="change($event, 2)"
          #inputTwo></ion-input>
        <ion-input class="inpt" maxlength="1" min="1" inputmode="numeric" required (ionChange)="change($event, 3)"
          #inputThree></ion-input>
        <ion-input class="inpt" maxlength="1" min="1" inputmode="numeric" required (ionChange)="change($event, 4)"
          #inputFour></ion-input>
      </div>

    </div>

    <ion-button expand="block" fill="outline" color="dark" shape="round" (click)="submit()">
      Submit
    </ion-button>

  </div>

  <div class="content" *ngIf="showForm">
    <p class="para">
      Enter New Password to continue using your Account
    </p>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()" novalidate>
      <ion-item>
        <ion-label position="floating">
          Enter New Password
          <ng-container *ngIf="getControl.password.touched">
            <span class="text-danger"
              *ngIf="getControl.password.errors?.required">New password is required*</span>
          </ng-container>
        </ion-label>
        <ion-input type="{{showPass ? 'text' : 'password'}}" formControlName="password"></ion-input>
        <ion-icon name="eye-outline" class="ion-align-self-center" slot="end" *ngIf="!showPass"
          (click)="showPass = !showPass"></ion-icon>
        <ion-icon name="eye-off-outline" class="ion-align-self-center" slot="end" *ngIf="showPass"
          (click)="showPass = !showPass"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          Enter Confirm Password
          <ng-container *ngIf="getControl.confirmPassword.touched">
            <span class="text-danger"
              *ngIf="getControl.confirmPassword.errors?.required">Confirm password is required*</span>
          </ng-container>
        </ion-label>
        <ion-input type="{{showPass ? 'text' : 'password'}}" formControlName="confirmPassword"></ion-input>
        <ion-icon name="eye-outline" class="ion-align-self-center" slot="end" *ngIf="!showPass"
          (click)="showPass = !showPass"></ion-icon>
        <ion-icon name="eye-off-outline" class="ion-align-self-center" slot="end" *ngIf="showPass"
          (click)="showPass = !showPass"></ion-icon>
      </ion-item>

      <div style="font-size: 12px;" class="text-danger"
        *ngIf="(getControl.password.errors && !getControl.password.errors?.required) || (getControl.confirmPassword.errors && !getControl.confirmPassword.errors?.required)">
        
      </div>

      <ion-button expand="block" fill="outline" color="dark" shape="round" type="submit" style="margin-top: 20px;"
        [disabled]="passwordForm.invalid || (passwordForm.value.password != passwordForm.value.confirmPassword)">
        Update Password
      </ion-button>

    </form>
  </div>


</ion-content>

<ion-footer collapse="fade" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>
      <ion-button fill="clear" color="dark" size="small" (click)="presentAlertPrompt()">
        Didn't Receive? Resend Code
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>