<ion-header>
  <ion-toolbar>
    <ion-title>{{name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="general.closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding chat-content">

  <ion-grid>
    <ion-row *ngFor="let m of chats">

      <ion-col size="9" class="col-1" *ngIf="m?.senderId != senderId">
        <span>{{m?.message}}</span>

        <div class="time">{{m?.created_at | date: 'hh:mm a'}}</div>
      </ion-col>

      <ion-col offset="3" size="9" class="col-2" *ngIf="m?.senderId == senderId">

        <span>{{m?.message}}</span>

        <div class="time">{{m?.created_at | date: 'hh:mm a'}}</div>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>

    <ion-item lines="none">
      <ion-input type="text" placeholder="Message" [(ngModel)]="newMessage" autocomplete="on" autocorrect="on" (keyup.enter)="sendMessage(newMessage); $event.preventDefault()">
      </ion-input>
      <ion-button (mousedown)="sendMessage(newMessage); $event.preventDefault()"  fill="clear" slot="end">
        <ion-icon icononly name="send-outline"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-toolbar>
</ion-footer>