ion-card {
    margin: 10px 0;

    ion-card-content {
        padding: 10px;
    }

    .cards {
        .img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        align-items: center;
        justify-content: space-evenly;

        .sale {
            background: var(--ion-color-danger);
            padding: 0;
            width: 70px;
            text-align: center;
            display: block;
            position: absolute;
            right: 0;
            top: 20px;
            transform: rotate(40deg);
            color: #fff;
            border-radius: 5px;
        }
    }

    .btns{
        div{
            width: 50%;
        }
    }
}