<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      On Sale
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card mode="ios" *ngFor="let c of tilesList; let i = index;">
    <ion-card-content>

      <div class="flex cards">
        <div class="sale">on Sale</div>
        <div>
          <img [src]=" c.image != ''? c.image : 'https://via.placeholder.com/150' " class="img" />
        </div>
        <div>
          <div>
            Titles: <b>{{c?.tiles}}</b>
          </div>
          <div>
            Buying Price: <b>$0.1</b>
          </div>
          <div>
            Current Price: <b>${{(c?.tiles * 0.1).toFixed(1)}}</b>
          </div>
        </div>
      </div>

      <ion-button color="dark" expand="block" size="small">
        Send Offer
      </ion-button>

      <!-- <div class="flex btns">
        <div *ngIf="i % 2 != 0">
          <ion-button fill="outline" color="dark" expand="block" size="small">
            Sell Boxes
          </ion-button>
        </div>

        <div  *ngIf="i % 2 == 0">
          <ion-button fill="outline" color="dark" expand="block" size="small">
            Remove from Sale
          </ion-button>
        </div>
        <div>
          <ion-button color="dark" expand="block" size="small">
            View Details
          </ion-button>
        </div>
      </div> -->
    </ion-card-content>
  </ion-card>
</ion-content>