ion-card {
    margin: 10px;

    .flex {
        align-items: center;
    }

    .img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: contain;
        margin-right: 10px
    }

    .msg-box {
        flex-direction: column;
        padding-left: 10px;
    }

    .btns {
        div {
            width: calc(100%/2);
        }
    }
}

.sell-tile-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
}

.det {
    justify-content: space-between;
}