<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="container">

    <div class="gett">
      <img [src]="profileImg" *ngIf="profileImg" id="proImg"/>
    </div>

    <div class="flex justify-content-evenly ion-margin-bottom">
      <div>
        <ion-button expanded="block" fill="outline" color="dark" mode="ios" size="small" (click)="chooseFile()">
          <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
          Upload Avatar
        </ion-button>
      </div>
      <div>
        <ion-button expanded="block" fill="outline" color="dark" mode="ios" size="small" (click)="generateAvatar()">
          <ion-icon name="shuffle-outline" slot="start"></ion-icon>
          Generate Avatar
        </ion-button>
      </div>
    </div>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()" novalidate>
      <div>
        <ion-item mode="md">
          <ion-label position="floating">
            <ion-icon slot="start" name="person-outline"></ion-icon>
            Full Name
            <ng-container *ngIf="getControl.fullname.touched">
              <span class="text-danger" *ngIf="getControl.fullname.errors?.required">Full Name is Required*</span>
            </ng-container>
          </ion-label>
          <ion-input placeholder="Enter Full Name" type="text" formControlName="fullname"></ion-input>
        </ion-item>

        <ion-item mode="md">
          <ion-label position="floating">
            <ion-icon slot="start" name="person-add-outline"></ion-icon>
            Username
            <ng-container *ngIf="getControl.username.touched">
              <span class="text-danger" *ngIf="getControl.username.errors?.required">Username is Required*</span>
            </ng-container>
          </ion-label>
          <ion-input placeholder="Enter Username" type="text" formControlName="username" readonly></ion-input>
        </ion-item>

        <ion-item mode="md">
          <ion-label position="floating">
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            Email Address
            <ng-container *ngIf="getControl.email.touched">
              <span class="text-danger" *ngIf="getControl.email.errors?.required">Email is Required*</span>
              <span class="text-danger" *ngIf="(getControl.email.invalid && !getControl.email.errors?.required)">Invalid
                Email*</span>
            </ng-container>
          </ion-label>
          <ion-input placeholder="Enter Email" type="email" formControlName="email" readonly></ion-input>
        </ion-item>

        <!-- <ion-item mode="md">
          <ion-label position="floating">
            <ion-icon slot="start" name="call-outline"></ion-icon>
            Phone Number
            <ng-container *ngIf="getControl.phone_number.touched">
              <span class="text-danger" *ngIf="getControl.phone_number.errors?.required">Phone Number is
                Required*</span>
            </ng-container>
          </ion-label>
          <ion-input placeholder="Enter phone_number" type="tel" formControlName="phone_number">
          </ion-input>
        </ion-item> -->

        <!-- <ion-item mode="md">
          <ion-label position="floating">
            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
            Date of Birth
            <ng-container *ngIf="getControl.password.touched">
              <span class="text-danger"
                *ngIf="getControl.confirm_password.errors?.required">Confirm Password is Required*</span>
            </ng-container>
          </ion-label>
          <ion-input placeholder="Enter Confirm Password" type="{{showPass ? 'text': 'password'}}"
            formControlName="confirm_password">
          </ion-input>
          <ion-icon name="eye-outline" slot="end" *ngIf="!showPass" (click)="showPass = !showPass"
            class="ion-align-self-center"></ion-icon>
          <ion-icon name="eye-off-outline" slot="end" *ngIf="showPass" (click)="showPass = !showPass"
            class="ion-align-self-center"></ion-icon>
        </ion-item> -->
      </div>



      <ion-button expand="block" shape="round" color="dark" type="submit">
        Update
      </ion-button>

    </form>
  </div>
  <input type="file" #fileInput (change)="choosePhoto($event)" hidden="true" accept="image/*"
    style="visibility: hidden;" />


  <div id="canvasRen" style="width: 200px;height: 200px;"></div>
</ion-content>