<ion-header>
  <ion-toolbar>
    <ion-title>Open Source</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <h2>FlatMeta.io</h2>
    <p>
      <a href="https://flatmeta.io">Flatmeta.io</a> is an Open-source, Online virtual World. Where you can Sell / Purchase your desired places as a square
      boxes and sell them at your own Cost. You can Chat with other Users roaming in your area by adding them as friends,
      You can also visit any place or neighbourhood.
    </p>

    <p>
      It is an Open-Source Project so Like minded people can Contribute in this project by Create New Issues, Bug Repots, and Pull Requests via our github repository. 
      <a href="https://github.com/ffaady/flatmeta.io"><ion-icon name="logo-github"></ion-icon> Github Repository</a>
    </p>

    <h3>Contributing</h3>
    <p>
      We Appreciate your time and energy to for your contributions to help us improve this project.
      Read up on our guidelines for <a href="https://github.com/ffaady/flatmeta.io/blob/main/.github/CONTRIBUTING.md">contributing</a> and then look through our issues with a help wanted label.
    </p>


    <h3>Issues</h3>
    <p>
      List of <a href="https://github.com/ffaady/flatmeta.io/issues">Github Issues </a> reported by user.
    </p>
  </div>
</ion-content>