<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container">
    <p class="capitalize">Log into <br> Your Account</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" (keyup.enter)="onSubmitLogin()" novalidate>

      <div>
        <ion-item mode="md">
          <ion-label position="floating">
            <ion-icon slot="start" name="person"></ion-icon>
            Email Address
            <ng-container *ngIf="getLoginControl.email_address.touched">
              <span class="text-danger" *ngIf="getLoginControl.email_address.errors?.required">Email is required*</span>
              <span class="text-danger"
                *ngIf="(getLoginControl.email_address.invalid && !getLoginControl.email_address.errors?.required)">Invialid
                Email*</span>
            </ng-container>
          </ion-label>
          <ion-input type="email" placeholder="Email address" formControlName="email_address" enterkeyhint="next"
            (keydown)="onKeydown($event)">
          </ion-input>
        </ion-item>

        <ion-item mode="md">
          <ion-label position="floating">
            <ion-icon slot="start" name="lock-open"></ion-icon>
            Password
            <ng-container *ngIf="getLoginControl.password.touched">
              <span class="text-danger" *ngIf="getLoginControl.password.errors?.required">Password is required *</span>
            </ng-container>

          </ion-label>
          <ion-input type="{{showPass ? 'text' : 'password'}}" placeholder="Password" formControlName="password"
            enterkeyhint="next">
          </ion-input>
          <ion-icon name="eye-outline" class="ion-align-self-center" slot="end" *ngIf="!showPass"
            (click)="showPass = !showPass"></ion-icon>
          <ion-icon name="eye-off-outline" class="ion-align-self-center" slot="end" *ngIf="showPass"
            (click)="showPass = !showPass"></ion-icon>
        </ion-item>
      </div>

      <ion-button expand="block" shape="round" color="dark" [disabled]="loginForm.invalid" type="submit"
        *ngIf="!loading">
        Login &nbsp;
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>

      <ion-button expand="block" shape="round" color="dark" mode="ios" *ngIf="loading">
        <ion-spinner name="crescent" color="primary"></ion-spinner>
      </ion-button>

    </form>

    <p class="ion-text-center facebookLogin">Forget Password?</p>

  </div>
</ion-content>

<ion-footer collapse="fade" class="ion-no-border">
  <ion-toolbar [routerLink]="['/signup']" mode="ios">
    <ion-title>
      <ion-button fill="clear" color="dark" size="small">
        Dont have an Account?
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>