<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">


  <div id="mapId"></div>

  <ng-container *ngIf="showBuyBtn">
    <div class="buybtn" (click)="showGrid()">
      <ion-icon name="globe-outline"></ion-icon>
      <br />
      Buy
    </div>
  </ng-container>

  <ng-container >
    <div class="locatebtn" (click)="getCurrentLocation()">
      <ion-icon name="locate-outline"></ion-icon>
    </div>
  </ng-container>

  <ng-container *ngIf="selectedBoxs.length > 0">
    <div class="position ion-padding">
      <div class="icon" (click)="removeSelectedBoxes()">
        <ion-icon name="close"></ion-icon>
      </div>
      <div class="ion-text-center">Add to Cart {{selectedBoxs.length}} boxes</div>
      <div>
        <ion-button (click)="addToCart()" expand="block">Add to Cart</ion-button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="myBoxs.length > 0">
    <div class="position2 ion-padding">
      <div class="icon" (click)="removeSelectedBoxes()">
        <ion-icon name="close"></ion-icon>
      </div>
      <div>
        <ion-button (click)="imgSelection = true" expand="block">Show Image Selection</ion-button>
      </div>
      <div>
        <ion-button (click)="showEditor = true" expand="block">Show Editor</ion-button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="myBoxs.length == 2">
    <div class="swipe" (click)="swipeImg()">
      <ion-icon name="swap-vertical-outline"></ion-icon>
      <br />
      Swap
    </div>
  </ng-container>


  <!-- Sheet Modal -->
  <ion-modal [isOpen]="imgSelection" [breakpoints]="[0.1, 0.5, 1]" [initialBreakpoint]="1" mode="ios">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Select Image </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="imgSelection = false">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>

        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-grid>
          <ion-row>
            <ion-col size="4" *ngFor="let bi of boxImgs">
              <div (click)="selectedImg = bi" [ngClass]="[selectedImg == bi ? 'selectImg' : '']">
                <img [src]="bi" class="box-img">
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col *ngIf="showUplaodedImage" size="12">
              <img [src]="selectedImg" class="box-img">
            </ion-col>
            <ion-col size="12">
              <input type="file" #fileInput (change)="choosePhoto($event)" hidden="true" accept="image/*"
                style="visibility: hidden;" />
              <ion-button expand="block" fill="outline" color="dark" (click)="chooseFile()">Upload Custom Image
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
      <ion-footer collapse="fade" mode="ios">
        <ion-toolbar>
          <ion-button expand="block" (click)="confirmImg()">Confirm Image</ion-button>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="showEditor" [swipeToClose]="false" [presentingElement]="routerOutlet.nativeEl" mode="ios">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Add Data to Your Box </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="showEditor = false">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <quill-editor [(ngModel)]="qEditor"></quill-editor>
      </ion-content>
      <ion-footer collapse="fade" mode="ios">
        <ion-toolbar>
          <ion-button expand="block" (click)="editorSubmit()">Submit</ion-button>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>