<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="t/h/n/n"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Thank You!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>

    <div class="rating-main">
      <div class="job-done">
        <ion-icon name="thumbs-up-outline" class="done"></ion-icon>
      </div>

      <p class="large">Thanks You</p>
      <p>We hope that the make some Profit out of this transaction. </p>

    </div>

    <div class="ion-text-center">
      <ion-button shape="round" color="dark" [routerLink]="['/t/h/n/n']">Home</ion-button>
    </div>
  </div>
</ion-content>